# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/
venv/

# IDE files
.vscode/
.idea/

# Flask instance folder
instance/

# Environment variables
.env

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Others
*.sqlite3
*.log
